Mengambil data Json dari URL dan mengubahnya menjadi dataframe pandas

In [24]:
import json
from urllib import request
import pandas as pd

url = "https://indonesia-covid-19.mathdro.id/api/provinsi"


response = requests.get(url)
data = response.json()
recs = data['data']
df = json_normalize(recs)
print(df)

    fid  kodeProvi                    provinsi  kasusPosi  kasusSemb  kasusMeni
0    11         31                 DKI Jakarta     346975     333848       5712
1    12         32                  Jawa Barat     219940     181128       2514
2    13         33                 Jawa Tengah     156757     107109       6742
3    15         35                  Jawa Timur     131450     119181       9257
4    23         64            Kalimantan Timur      57292      49422       1340
5    27         73            Sulawesi Selatan      57172      52941        869
6    17         51                        Bali      35227      32264        966
7     4         14                        Riau      31837      30079        774
8    16         36                      Banten      30192      22444        614
9     3         13              Sumatera Barat      29554      27894        653
10   14         34  Daerah Istimewa Yogyakarta      28749      22850        698
11    2         12              Sumatera Utara      25164      21787        851
12   22         63          Kalimantan Selatan      22773      19966        744
13   33         94                       Papua      17507       9333        178
14    6         16            Sumatera Selatan      16170      14376        781
15   25         71              Sulawesi Utara      15076      12022        496
16   21         62           Kalimantan Tengah      14323      12646        366
17    9         18                     Lampung      12818      11264        670
18   26         72             Sulawesi Tengah      10289       8487        263
19   28         74           Sulawesi Tenggara      10091       9361        200
20   24         65            Kalimantan Utara       9977       7767        152
21   19         53         Nusa Tenggara Timur       9798       7588        272
22    1         11                        Aceh       9589       7876        387
23   18         52         Nusa Tenggara Barat       8851       7170        344
24   10         21              Kepulauan Riau       8761       8376        220
25   34         91                 Papua Barat       7571       6915        126
26    8         19             Bangka Belitung       7543       6904        112
27   31         81                      Maluku       7078       6266        105
28    5         15                       Jambi       5594       4418         85
29   30         76              Sulawesi Barat       5285       4184        106
30    7         17                    Bengkulu       5009       4652        147
31   29         75                   Gorontalo       4851       4425        136
32   20         61            Kalimantan Barat       4766       4308         33
33   32         82                Maluku Utara       4040       3436        113
34   35          0                   Indonesia          0          0          0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  # This is added back by InteractiveShellApp.init_path()